{% extends 'base.html' %}
{% load i18n %}


{% block extrahead %}
	{{ form.media }}
	<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.form.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL}}js/fileuploader.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL}}js/profile_form.js"></script>
	<link href="{{ STATIC_URL }}css/fileuploader.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
	{% include 'accounts/profile_ajax.html' %}
{% endblock %}
